<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    
    <root>
      <level value="ALL"/>
      <!--根据log级别记录到不同的日志文件-->
      <appender-ref ref="InfoLog" />
      <appender-ref ref="WarnLog" />
      <appender-ref ref="ErrorLog" />
      <appender-ref ref="DebugLog" />
    </root>

    <!--Info日志配置-->
    <appender name="InfoLog" type="log4net.Appender.RollingFileAppender">
      <!--Info保存路径-->
      <param name="File" value="Logs\\Info\\" />
      <!--是否追加到文件-->
      <param name="AppendToFile" value="true" />
      <!--最多产生的日志文件数，超过则只保留最新的n个。设定值value="－1"为不限文件数-->
      <param name="MaxSizeRollBackups" value="100" />
      <param name="MaxFileSize" value="10240" />
      <!--是否只写到一个文件中-->
      <param name="StaticLogFileName" value="false" />
      <!--Info日志名-->
      <param name="DatePattern" value="yyyy-MM-dd HH:mm:ss_Info'.log'" />
      <!--按照何种方式产生多个日志文件(日期[Date],文件大小[Size],混合[Composite])-->
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <!--Log内容-->
        <param name="ConversionPattern" value="%n日志时间：%d [%t] %n日志级别:%-5p %n日 志 类:%c [%L] %n日志内容:%m %n" />
      </layout>
      <!--本文件记录日志 级别区间-->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="INFO" />
      </filter>
    </appender>

    <!--Warn日志配置-->
    <appender name="WarnLog" type="log4net.Appender.RollingFileAppender">
      <!--Warn保存路径-->
      <param name="File" value="Logs\\Warn\\" />
      <param name="AppendToFile" value="true" />
      <param name="MaxFileSize" value="10240" />
      <param name="MaxSizeRollBackups" value="100" />
      <param name="StaticLogFileName" value="false" />
      <!--Warn日志名-->
      <param name="DatePattern" value="yyyy-MM-dd HH:mm:ss_Warn'.log'" />
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <!--Log内容-->
        <param name="ConversionPattern" value="%n警告时间:%d [%t] %n警告级别:%-5p %n警 告 类:%c [%L] %n警告内容:%m %n" />
      </layout>
      <!--本文件记录日志 级别区间-->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN" />
        <levelMax value="WARN" />
      </filter>
    </appender>

    <!--Error日志配置-->

    <appender name="ErrorLog" type="log4net.Appender.RollingFileAppender">
      <!--Error保存路径-->
      <param name="File" value="Logs\\Error\\" />
      <param name="AppendToFile" value="true" />
      <param name="MaxFileSize" value="10240" />
      <param name="MaxSizeRollBackups" value="100" />
      <param name="StaticLogFileName" value="false" />
      <!--Error日志名-->
      <param name="DatePattern" value="yyyy-MM-dd HH:mm:ss_Error'.log'" />
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <!--Log内容-->
        <param name="ConversionPattern" value="%n异常时间:%d [%t] %n异常级别:%-5p %n异 常 类:%c [%L] %n异常内容:%m %n" />
      </layout>
      <!--本文件记录日志 级别区间-->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="ERROR" />
      </filter>
    </appender>

    <!--Debug日志配置-->
    <appender name="DebugLog" type="log4net.Appender.RollingFileAppender">
      <!--Debug保存路径-->
      <param name="File" value="Logs\\Debug\\" />
      <param name="AppendToFile" value="true" />
      <param name="MaxFileSize" value="10240" />
      <param name="MaxSizeRollBackups" value="100" />
      <param name="StaticLogFileName" value="false" />
      <!--Debug日志名-->
      <param name="DatePattern" value="yyyy-MM-dd HH:mm:ss_Debug'.log'" />
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <!--Log内容-->
        <param name="ConversionPattern" value="%n调试时间:%d [%t] %n调试级别：%-5p %n调 试 类:%c [%L] %n调试内容:%m %n" />
      </layout>
      <!--本文件记录日志 级别区间-->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="DEBUG" />
      </filter>
    </appender>

  </log4net>

</configuration>