<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <logger name="Info">
      <level value="INFO"></level>
      <appender-ref ref="InfoLog" />
    </logger>
    <logger name="Warn">
      <level value="WARN"></level>
      <appender-ref ref="WarnLog" />
    </logger>
    <logger name="Error">
      <level value="ERROR"></level>
      <appender-ref ref="ErrorLog" />
    </logger>
    <logger name="Debug">
      <level value="DEBUG"></level>
      <appender-ref ref="DebugLog" />
    </logger>
    <logger name="Fatal">
      <level value="Fatal"></level>
      <appender-ref ref="FatalLog" />
    </logger>


    <!--Info日志配置-->
    <appender name="InfoLog" type="log4net.Appender.RollingFileAppender">
      <!--Info保存路径-->
      <param name="File" value="Logs\\Info\\" />
      <!--是否追加到文件-->
      <param name="AppendToFile" value="true" />
      <!--最多产生的日志文件数，超过则只保留最新的n个。设定值value="－1"为不限文件数-->
      <param name="MaxSizeRollBackups" value="100" />
      <param name="MaxFileSize" value="10240" />
      <!--是否只写到一个文件中-->
      <param name="StaticLogFileName" value="false" />
      <!--Info日志名-->
      <param name="DatePattern" value="yyyyMMdd_HHmmss_&quot;Info&quot;&quot;.log&quot;" />
      <!--按照何种方式产生多个日志文件(日期[Date],文件大小[Size],混合[Composite])-->
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <!--Log内容-->
        <param name="ConversionPattern" value="%n================
                                               %n日志时间:%d
                                               %n日志级别:%-5p 
                                               %n日志对象:%c 
                                               %n日志行号:%L
                                               %n日志线程:%t
                                               %n日志内容:%m  
                                               %n==============="/>
      </layout>
      <!--本文件记录日志 级别区间-->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="INFO" />
      </filter>
    </appender>

    <!--Warn日志配置-->
    <appender name="WarnLog" type="log4net.Appender.RollingFileAppender">
      <!--Warn保存路径-->
      <param name="File" value="Logs\\Warn\\" />
      <param name="AppendToFile" value="true" />
      <param name="MaxFileSize" value="10240" />
      <param name="MaxSizeRollBackups" value="100" />
      <param name="StaticLogFileName" value="false" />
      <!--Warn日志名-->
      <param name="DatePattern" value="yyyyMMdd_HHmmss_&quot;Warn&quot;&quot;.log&quot;" />
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <!--Log内容-->
        <param name="ConversionPattern" value="%n================
                                               %n警告时间:%d
                                               %n警告级别:%-5p 
                                               %n警告对象:%c 
                                               %n警告行号:%L
                                               %n警告线程:%t
                                               %n警告内容:%m  
                                               %n==============="/>
      </layout>
      <!--本文件记录日志 级别区间-->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN" />
        <levelMax value="WARN" />
      </filter>
    </appender>

    <!--Error日志配置-->
    <appender name="ErrorLog" type="log4net.Appender.RollingFileAppender">
      <!--Error保存路径-->
      <param name="File" value="Logs\\Error\\" />
      <param name="AppendToFile" value="true" />
      <param name="MaxFileSize" value="10240" />
      <param name="MaxSizeRollBackups" value="100" />
      <param name="StaticLogFileName" value="false" />
      <!--Error日志名-->
      <param name="DatePattern" value="yyyyMMdd_HHmmss_&quot;Error&quot;&quot;.log&quot;" />
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <!--Log内容-->
        <param name="ConversionPattern" value="%n================
                                               %n异常时间:%d
                                               %n异常级别:%-5p 
                                               %n异常对象:%c 
                                               %n异常行号:%L
                                               %n异常线程:%t
                                               %n异常内容:%m  
                                               %n==============="/>
      </layout>
      <!--本文件记录日志 级别区间-->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="ERROR" />
      </filter>
    </appender>

    <!--Debug日志配置-->
    <appender name="DebugLog" type="log4net.Appender.RollingFileAppender">
      <!--Debug保存路径-->
      <param name="File" value="Logs\\Debug\\" />
      <param name="AppendToFile" value="true" />
      <param name="MaxFileSize" value="10240" />
      <param name="MaxSizeRollBackups" value="100" />
      <param name="StaticLogFileName" value="false" />
      <!--Debug日志名-->
      <param name="DatePattern" value="yyyyMMdd_HHmmss_&quot;Debug&quot;&quot;.log&quot;" />
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <!--Log内容-->
        <param name="ConversionPattern" value="%n================
                                               %n调试时间:%d
                                               %n调试级别:%-5p 
                                               %n调试对象:%c 
                                               %n调试行号:%L
                                               %n调试线程:%t
                                               %n调试内容:%m  
                                               %n==============="/>
      </layout>
      <!--本文件记录日志 级别区间-->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="DEBUG" />
      </filter>
    </appender>
    <!--Fatal日志配置-->
    <appender name="FatalLog" type="log4net.Appender.RollingFileAppender">
      <!--Fatal保存路径-->
      <param name="File" value="Logs\\Fatal\\" />
      <param name="AppendToFile" value="true" />
      <param name="MaxFileSize" value="10240" />
      <param name="MaxSizeRollBackups" value="100" />
      <param name="StaticLogFileName" value="false" />
      <!--Fatal日志名-->
      <param name="DatePattern" value="yyyyMMdd_HHmmss_&quot;Fatal&quot;&quot;.log&quot;" />
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <!--Log内容-->
        <param name="ConversionPattern" value="%n================
                                               %n调试时间:%d
                                               %n调试级别:%-5p 
                                               %n调试对象:%c 
                                               %n调试行号:%L
                                               %n调试线程:%t
                                               %n调试内容:%m  
                                               %n==============="/>
      </layout>
      <!--本文件记录日志 级别区间-->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="FATAL" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
  </log4net>
</configuration>